body {
    font-family: 'Nunito', sans-serif;
    background: url(background-leticia.svg) no-repeat bottom left;
    background-size: cover;
}

@font-face {
    font-family: "Kenao";
    src:
      local("kenao"),
      url("kenao/Kenao.otf");
  }

header {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

#icon {
 height:100px;
}

.estrelinha{
    height: 40px;
    margin-top: 20px;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
    font-size: 17pt;
    margin-top: 27px;
    background: radial-gradient(50% 50% at 50% 50%, #D6006F 0%, #724E94 53.13%, #0038A7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a:hover {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.253), 0 0 5px #ffffff;
}


#bandeirinha {
    height: 50px;
    margin-top: 25px;
}

#body {
    display: flex;
    justify-content: space-around;
}

#sobre-leticia {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 100px;
    margin-top: 25px;
}

#sobre-leticia h1 {
    font-family: "kenao";
    background: radial-gradient(50% 50% at 50% 50%, #D6006F 0%, #724E94 53.13%, #0038A7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    text-align: center;
}

.social-media {
    height: 50px;
}

#sobre-leticia p {
    font-size: 30px;
    text-align: center;
}

#img-leticia {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* border: 1px solid red;  */
}

#img-leticia img {
    height: 600px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
    font-size: 30pt;
    background: radial-gradient(50% 50% at 50% 50%, #D6006F 0%, #724E94 53.13%, #0038A7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.514);
}


.footer {
    font-size: 10pt;
    margin: 0%;
    margin: 15px;
}