body {
    font-family: 'Nunito', sans-serif;
    background: url(upper\ corner.png) no-repeat top right, url(bottom\ corner.png) no-repeat bottom left;
}



@font-face {
    font-family: "Kenao";
    src:
        local("Kenao"),
        url("Kenao.otf");
}

header {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

#icon {
    height: 5.25em;
}

.estrelinha {
    height: 2.5em;
    margin-top: 1.25rem;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0.938em;
    font-size: 17pt;
    margin-top: 1.2em;
    background: radial-gradient(50% 50% at 50% 50%, #D6006F 0%, #724E94 53.13%, #0038A7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a:hover {
    text-shadow: 0 5px #ffffff;
}


#body {
    display: flex;
}

#sobre {
    width: 50%;
    margin-bottom: 4.688em;
    margin-top: 5.313em;
}

#nosso-projeto {
    width: 20rem;
}

#sobre p {
    font-size: 20px;
    text-align: justify;
    width: 600px;
    align-items: center;
    height: 470px;
}

.image-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#sobre-slide img {
    width: 29.2em;
    margin-bottom: 3.8em;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.slider {
    width: 64em;
}

.slider-wrapper {
    width: 100%;
    height: 25em;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper>.slide:first-child {
    opacity: 1;
}

#main-slider {
    margin-right: 50px;
}

#marketplace-button {
    border: 1px solid black;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.938em;
    padding-bottom: 0.938em;
    border-radius: 1.875em;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17pt;
}

#markeplace-button:hover {
    background-color: red;
}

#main-slider img {
    height: 43.75em;
    border-radius: 1.25em;
}

#bandeirinha {
    height: 3.125em;
    margin-top: 1.563em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.625em;
    margin-top: 3.125em;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(180deg, #E40303 0%, #FF8C00 22.4%, #FFED00 39.06%, #007F26 57.81%, #004DFF 79.17%, #750787 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 0.938em;
    font-size: 17pt;
}

#background {
    margin: 0%;
}

.footer {
    font-size: 10pt;
    margin: 0%;
    margin: 0.938em;
}

#bottom {
    margin-top: 4.375em;
}
